<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Node & Airtable Demo</title>
  </head>
  <body>
    <!-- Uses ejs -->
    <h1>Node & Airtable <%= locals.text || "Default Text" %> !</h1>
  </body>
</html>
